.fontStyle {
    font-style: italic;
    font-weight: 500;
    font-size: 1.5rem;
}
.fontStyle.nValue{
    color: #1d4ed8;
}

.divisor{
    height: .1rem;
    background-color: #000;
    width:100%;
}

#error-span{
    display:none;
}

.result{
    background-color: #97ffad;
    border-radius: 0.5rem;
}

.result > h6, h3{
    color: #166534;
}

.body-app{
    background-color: #1d4ed8;
}

.header-form{
    color: #1d4ed8;
}